body{
    margin: 0;
}

.wrapper{
    background-color: #001970;
}

a{
    text-decoration: none;
}

i, h1, h2, h3, p, a{
    color: white;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 30px;
    grid-template-areas: 
    "name name name login wish cart"
    "menu blank blank search search search";
}

.headerbox{
    display: flex;
    justify-self: center;
    align-self: center;

}

.title{
    grid-area: name;
    font-size: 1.8rem;
}

.login{
    grid-area: login;
}

.wishlist{
    grid-area: wish;
}

.cart{
    grid-area: cart;
}

.menu{
    grid-area: menu;
}

.searchbar{
    grid-area: search;
}
    
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.hotitem{
    border: 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotitemcontent{
    margin: 5px 0 5px 0;
}

.hotitemtitle{
    font-size: 2rem;
}

.hotitemtext{
    margin-top: 0;
}

.img350x350{
    max-width: 350px;
    max-height: 350px;
}

.featured{
    display: flex;
    position: relative;
    animation: rotation 10s   infinite linear;
    overflow: hidden;
}
@keyframes rotation{
    0%{
        left: 0;

    }

    100%{
        left: -100%;
    }
}

.featureditem{
    border: white 2px solid;
    width: 150px;
    height: 150px;

}

.sidebar{
    position: absolute;
    /* width: 80%; */
    top: 80px;
    padding: 10px 40px 30px 10px;
    /* bottom: 0; */
    left: -50%;
    background-color: #303F9F;
    border: solid 2px white;
    border-bottom-right-radius: 70px;
    transition: 300ms;
}

.sidebar.active{
    transition: 400ms;
    left: 0;
}

.menuitem{
    
    font-size: 2rem;
}

main{

}


@media only screen and (min-width: 800px){

    .sidebar{
        left: 0;
    }
}