
<div class="hotitem">
    <h3 class="hotitemtitle hotitemcontent">Item of the day</h3>
    <img class="img350x350 hotitemcontent" src="img/FinSack-350x350.png" alt="#">
    <h2 class="hotitemtext hotitemcontent">Win a child!</h2>
</div>

<div class="featured">
    <div class="featureditem">
        <img src="img/box-150x150.png" alt="">
    </div>
    <div class="featureditem">
        <img src="img/sack-150x150.png" alt="">
    </div>
    <div class="featureditem">
        <img src="img/sack-150x150.png" alt="">
    </div>
    <div class="featureditem">
        <img src="img/sack-150x150.png" alt="">
    </div>
    <div class="featureditem">
        <img src="img/sack-150x150.png" alt="">
    </div>
</div>

<!-- <div class="hotitem">
    <img src="img/FinSäck-500x500.png" alt="">
</div> -->