<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SäckCHOP</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <a class="headerbox title" href="index.html">SäckSHopp.se</a>
            <i class="material-icons headerbox login">account_circle</i>
            <i class="material-icons headerbox wishlist">favorite</i>
            <i class="material-icons headerbox cart">shopping_cart</i>
            <i class="material-icons headerbox menu">menu</i>
            <input class="headerbox searchbar" type="text">
        </header>
        <main>
            <div class="sidebar">
                <div class="menuitem"><a href="sackar.html">Säckar</a></div>
                <div class="menuitem"><a href="boxes.html">Boxes</a></div>
                <div class="menuitem"><a href="boxes.html">Boxes</a></div>
                <div class="menuitem"><a href="boxes.html">Boxes</a></div>
                <div class="menuitem"><a href="boxes.html">Boxes</a></div>
                <div class="menuitem"><a href="boxes.html">Boxes</a></div>
            </div>
            <%= yield %>
        </main>

    </div>


    <script src="js/main.js"></script>
</body>
</html>