<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SäckCHOP</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="headerbox title"><h2 class="title">SäckSHopp.se</h2></div>
            <div class="headerbox login"><i class="material-icons login">account_circle</i></div>
            <div class="headerbox wishlist"><i class="material-icons wishlist">list_alt</i></div>
            <div class="headerbox cart"><i class="material-icons cart">shopping_cart</i></div>
            <div class="headerbox menu"><i class="material-icons menu">menu</i></div>
            <div class="headerbox searchbar"><input class="searchbar" type="text"></div>
        </header>
        <main>
            <%= yield %>
        </main>

    </div>


    <script src="js/main.js"></script>
</body>
</html>